* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

nav {

    /* width: 100%; */
    background: rgba(0, 0, 0, 0.80);
    display: flex;
    /* height: 44px; */
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 24px;
    border: 2px solid red;

}

.menu-icon {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
} */

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) 

{

    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #15ba39;
        padding: 10px;
        z-index: 1;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
        transform: translateX(0);
    }

    .nav-links li {
        margin: 10px 0;
    }
}

/* .hello {
    border: 2px solid brown;
} */

/* .hlo {
    border: 2px solid orange; 
    display: flex;
    justify-content: space-around;
    margin-left: 320px;
    width: 900px;


} */

/* .hi {
    border: 2px solid blue;



} */

.hi-rajeev {}

/* .global a {
    text-decoration: none;
    color: white;
} */

.navlinks {

    width: 100%;
    height: 116px;
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 12px 0px;

}

.navlinks a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;

}

.navlinks a img {
    width: auto;
    height: 54px;
}

.red {
    color: red;
}

.Section1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-top: 82px;
}

.Section1 img {
    width: 788px;
    height: 717px;
    flex-shrink: 0;
    margin-top: 50px;
}

.Section2 {
    width: 100%;
    background-color: black;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-top: 82px;
}

.Section2 img {
    width: 782px;
    height: 542px;
    flex-shrink: 0;
    margin-top: 50px;
}

.Section3 {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 80px;
}

.Section3 img {

    width: 494px;
    height: 830px;
}